# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [2]:
url = 'https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv'
df = pd.read_csv(url)
df.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 4.  What is the frequency of the dataset?

In [4]:
frequency=df.value_counts()
frequency

Date        Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  Taxable Bond  Municipal Bond  Total
2012-12-05  -7426         -6060            -1367         -74      5317        4210          1107           -2183     1
2012-12-12  -8783         -7520            -1263          123     1818        1598          219            -6842     1
2014-08-20   2671          738              1933          821     4999        4185          814             8490     1
2014-08-27  -577          -2199             1623          943     3655        2921          734             4021     1
2014-09-03  -4024         -5305             1281          544     2430        1768          661            -1050     1
2014-09-10   1257         -1291             2548          1055    1554        711           843             3866     1
2014-11-05  -32           -1634             1602         -176     5813        5284          529             5604     1
2014-11-12   1464          61               1403          963     3596        2703          893             6023     1
2014-11-19  -3010         -3622             611           99      2529        1758          771            -383      1
2014-11-25  -1175         -2044             869          -157     2590        1821          769             1258     1
2015-01-07  -3913         -5438             1525         -1057   -3403       -4729          1326           -8373     1
2015-01-14   1774         -37               1811          248     3549        2582          967             5572     1
2015-01-21   1267          856              411           790     1258        220           1038            3315     1
2015-01-28   4343          3455             888           1748    5964        4689          1275            12055    1
2015-02-04   4240          3536             703           793     3237        2274          963             8270     1
2015-02-11   1268         -27               1296          959     5862        5169          693             8089     1
2015-03-04   999          -1933             2932          528     4984        4309          675             6511     1
2015-03-11   3911         -7                3918          851     1298        999           298             6059     1
2015-03-18   1948         -1758             3706          912     452         258           194             3312     1
2015-03-25  -1167         -4478             3311          538     2404        1701          703             1775     1
2015-04-01  -1527         -3307             1780          720    -1296       -1392          96             -2103     1
2014-08-13   320          -974              1294          496     1436        539           897             2252     1
2014-08-06  -471          -3073             2602         -375    -8193       -8658          465            -9040     1
2014-07-30   118          -1171             1290          1024    1806        1119          687             2949     1
2014-04-30  -3890         -3996             106           759     888         559           329            -2242     1
2012-12-19  -5496         -5470            -26           -73      103         3472         -3369           -5466     1
2012-12-26  -4451         -4076            -375           550     2610        3333         -722            -1291     1
2013-01-02  -11156        -9622            -1533         -158     2383        2103          280            -8931     1
2013-01-09   14817         7995             6821          2888    9766        7311          2455            27471    1
2014-04-02   3155          938              2217          265     3379        3129          250             6799     1
2014-04-09   5761          2080             3681          1482    1609        1448          161             8852     1
2014-04-16   2286          634              1652          1186    633         604           29              4105     1
2014-04-23   3530          1392             2138          1239    1984        1453          531             6753     1
2014-05-07   632          -2006             2639         -340     5493        4417          1076            5785     1
2014-07-09   666          -1070             1736          1006    2721        3203         -482             4393     1
2014-05-14  -1079         -2321             1242          1188    4037        3141          897             4146     1
2014-05-21   697          -1790             2487          1216    2196        1398          798             4109     1
2014-05-28  -2453         -2603             150           1108    2041        1236          805             696      1
2014-06-04   2098         -1148             3246          1123    188        -470           658             3409     1
2014-06-11   1236         -1840             3075          1159    2112        1587          524             4506     1
2014-06-18  -922          -2204             1282          1060    4159        3740          419             4297     1
2014-06-25  -93           -1354             1262          1246    3256        2694          562             4409     1
2014-07-02  -7835         -8887             1052          636     2979        2704          276            -4220     1
2015-04-08   1906         -1321             3227          250     1719        1906         -187             3875     1
dtype: int64

### Step 5. Set the column Date as the index.

In [5]:
df=df.set_index('Date')
df.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 6. What is the type of the index?

In [6]:
df.index

Index(['2012-12-05', '2012-12-12', '2012-12-19', '2012-12-26', '2013-01-02',
       '2013-01-09', '2014-04-02', '2014-04-09', '2014-04-16', '2014-04-23',
       '2014-04-30', '2014-05-07', '2014-05-14', '2014-05-21', '2014-05-28',
       '2014-06-04', '2014-06-11', '2014-06-18', '2014-06-25', '2014-07-02',
       '2014-07-09', '2014-07-30', '2014-08-06', '2014-08-13', '2014-08-20',
       '2014-08-27', '2014-09-03', '2014-09-10', '2014-11-05', '2014-11-12',
       '2014-11-19', '2014-11-25', '2015-01-07', '2015-01-14', '2015-01-21',
       '2015-01-28', '2015-02-04', '2015-02-11', '2015-03-04', '2015-03-11',
       '2015-03-18', '2015-03-25', '2015-04-01', '2015-04-08'],
      dtype='object', name='Date')

### Step 7. Set the index to a DatetimeIndex type

In [8]:
df.index=pd.to_datetime(df.index)
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [9]:
monthly=df.resample('M').sum()
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156,-23126,-3031,526,9848,12613,-2765,-15782
2013-01-31,3661,-1627,5288,2730,12149,9414,2735,18540
2013-02-28,0,0,0,0,0,0,0,0
2013-03-31,0,0,0,0,0,0,0,0
2013-04-30,0,0,0,0,0,0,0,0
2013-05-31,0,0,0,0,0,0,0,0
2013-06-30,0,0,0,0,0,0,0,0
2013-07-31,0,0,0,0,0,0,0,0
2013-08-31,0,0,0,0,0,0,0,0
2013-09-30,0,0,0,0,0,0,0,0
2013-10-31,0,0,0,0,0,0,0,0
2013-11-30,0,0,0,0,0,0,0,0
2013-12-31,0,0,0,0,0,0,0,0
2014-01-31,0,0,0,0,0,0,0,0
2014-02-28,0,0,0,0,0,0,0,0
2014-03-31,0,0,0,0,0,0,0,0
2014-04-30,10842,1048,9794,4931,8493,7193,1300,24267
2014-05-31,-2203,-8720,6518,3172,13767,10192,3576,14736
2014-06-30,2319,-6546,8865,4588,9715,7551,2163,16621
2014-07-31,-7051,-11128,4078,2666,7506,7026,481,3122
2014-08-31,1943,-5508,7452,1885,1897,-1013,2910,5723
2014-09-30,-2767,-6596,3829,1599,3984,2479,1504,2816
2014-10-31,0,0,0,0,0,0,0,0
2014-11-30,-2753,-7239,4485,729,14528,11566,2962,12502
2014-12-31,0,0,0,0,0,0,0,0
2015-01-31,3471,-1164,4635,1729,7368,2762,4606,12569
2015-02-28,5508,3509,1999,1752,9099,7443,1656,16359
2015-03-31,5691,-8176,13867,2829,9138,7267,1870,17657
2015-04-30,379,-4628,5007,970,423,514,-91,1772

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [10]:
monthly=monthly.dropna()
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156,-23126,-3031,526,9848,12613,-2765,-15782
2013-01-31,3661,-1627,5288,2730,12149,9414,2735,18540
2013-02-28,0,0,0,0,0,0,0,0
2013-03-31,0,0,0,0,0,0,0,0
2013-04-30,0,0,0,0,0,0,0,0
2013-05-31,0,0,0,0,0,0,0,0
2013-06-30,0,0,0,0,0,0,0,0
2013-07-31,0,0,0,0,0,0,0,0
2013-08-31,0,0,0,0,0,0,0,0
2013-09-30,0,0,0,0,0,0,0,0
2013-10-31,0,0,0,0,0,0,0,0
2013-11-30,0,0,0,0,0,0,0,0
2013-12-31,0,0,0,0,0,0,0,0
2014-01-31,0,0,0,0,0,0,0,0
2014-02-28,0,0,0,0,0,0,0,0
2014-03-31,0,0,0,0,0,0,0,0
2014-04-30,10842,1048,9794,4931,8493,7193,1300,24267
2014-05-31,-2203,-8720,6518,3172,13767,10192,3576,14736
2014-06-30,2319,-6546,8865,4588,9715,7551,2163,16621
2014-07-31,-7051,-11128,4078,2666,7506,7026,481,3122
2014-08-31,1943,-5508,7452,1885,1897,-1013,2910,5723
2014-09-30,-2767,-6596,3829,1599,3984,2479,1504,2816
2014-10-31,0,0,0,0,0,0,0,0
2014-11-30,-2753,-7239,4485,729,14528,11566,2962,12502
2014-12-31,0,0,0,0,0,0,0,0
2015-01-31,3471,-1164,4635,1729,7368,2762,4606,12569
2015-02-28,5508,3509,1999,1752,9099,7443,1656,16359
2015-03-31,5691,-8176,13867,2829,9138,7267,1870,17657
2015-04-30,379,-4628,5007,970,423,514,-91,1772

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [11]:
year=monthly.resample('AS-JAN').sum()
year

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-01-01,-26156,-23126,-3031,526,9848,12613,-2765,-15782
2013-01-01,3661,-1627,5288,2730,12149,9414,2735,18540
2014-01-01,330,-44689,45021,19570,59890,44994,14896,79787
2015-01-01,15049,-10459,25508,7280,26028,17986,8041,48357

### BONUS: Create your own question and answer it.